<%= form_for (@clothing) do |f| %>

<div class="large-8 columns">
  <p>
    <%= f.label :clothing_type %>
    <%= f.select :clothing_type, %w[Top Bottom Shoes], :id => "type_selector" %>
  </p>

  <div class="style-container">
  </div>

  <p class="top-styles">
    <%= f.label :clothing_style, name = "Top Type" %>
    <%= f.select :clothing_style, %w[Top Blouse T-Shirt Sweater Shirt Cardigan Blazer] %>
  </p>

  <p class="bottom-styles">
    <%= f.label :clothing_style, name = "Bottom Type" %>
    <%= f.select :clothing_style,%w[Jeans Pants Skirt Shorts Capris] %>
  </p>

  <p class="shoe-styles">
    <%= f.label :clothing_style, name = "Shoes Type" %>
    <%= f.select :clothing_style,%w[Boots Heels Flats Sandals Flip-Flops] %>
  </p>
  <p>
    <%= f.label :color %>
    <%= f.select :color,%w[White Black Red Brown Blue Yellow Pink Orange Gray Multi] %>
  </p>

  <p>
    <%= f.label :weather %>
    <%= f.select :weather,%w[Cold Hot Any] %>

  </p>

  <p>
    <%= f.label :image %>
    <%= f.file_field :image %>

  </p>
  <p><%= f.submit "Update" %></p>
  <% end %>
</div>
