<% @clothings.each do |clothing|%>
<div class="large-4 small-6 columns end">
  <%= link_to image_tag(clothing.clothing_img), clothing  %>

    <div class="panel">
      <h5><%= link_to clothing.name, clothing %></h5>
      <h6 class="subheader">
        <ul>
          <li><%= link_to "Edit", edit_clothing_path(clothing) %></li>
          <li><%= link_to 'Delete', clothing, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </h6>
    </div>
  </span>
</div>
<% end %>

<%= paginate @clothings %>
