<% @clothings = current_user.clothings.dirty.page(params[:page]) %>
<% if @clothings.any? %>
  <% @clothings.each do |clothing|%>

  <div class="large-4 small-3 columns end">
    <%= image_tag clothing.clothing_img, size:"200x200" %>
      <h5><%= link_to clothing.clothing_style, clothing %></h5>
      <h6>

          <%= form_for (clothing) do |f| %>
              <%= f.submit "Mark as clean", :class => "button small"%>
            <% end %>
      </h6>
  </div>
  <% end %><%= paginate @clothings %>
<%else%>
  <h5> There are no clothing in you laundry bag </h5>
<%end%>
