
<%= image_tag @clothing.clothing_img %>
<p><%= @clothing.clothing_type %></p>
<p><%= @clothing.name %></p>
<%= link_to "Edit", edit_clothing_path(@clothing) %>
<%= link_to 'Delete', @clothing, method: :delete, data: { confirm: 'Are you sure?' } %>
