<div class ="row">
  <div class ="large-6 column">
    <% if @outfit.top %>
    <%= image_tag @outfit.top.image, size:"200x200" %>
    <% else %>
    <p><h5>No tops availbale </a></h5></p>
    <% end %>
  </div>

  <div class ="large-6 column">
    <% @outfit.errors.full_messages.each do |msg| %>
    <%= msg %>
    <% end %>
    <%= form_for @outfit do |f| %>
    <%= f.label :top_id, 'Top' %>
    <%= f.collection_select(:top_id, current_user.clothings.where(:clothing_type => "Top").all, :id, :name) %>

    <%= f.label :bottom_id, 'Bottom' %>
    <%= f.collection_select(:bottom_id, current_user.clothings.where(:clothing_type => "Bottom").all, :id, :name) %>

    <div class="shoe-options-container">
      <div class="shoe-options">
        <%= f.label :shoe_pair_id, 'Shoes' %>
        <%= f.collection_select(:shoe_pair_id, current_user.clothings.where(:clothing_type => "Shoes").all, :id, :name) %>
      </div>
    </div>

    <br/>

    <%= f.submit 'Save Outfit', :class => "button small" %>
    <%= f.submit 'Preview', :name => 'preview_button', :class => "button small" %>
    <% end %>
  </div>
  <div class="large-6 column container">
    <input type="checkbox" class="toggle-shoe-options" id="displayShoes"> Display Shoes<br>
  </div>

</div>
<div class="row">
  <div class="large-6 columns">
    <% if @outfit.bottom %>
    <%= image_tag @outfit.bottom.image, size:"200x200" %>

    <% else %>
    <p><h5>No tops available</a></h5></p>
    <% end %>
  </div>

  <div class="shoe-container">
  <div class="large-6 columns" id= "shoes">
    <% if @outfit.shoe_pair %>
      <%= image_tag @outfit.shoe_pair.image, size:"200x200"%>
    <% else %>
      <p>No shoes available.</p>
    <% end %>
  </div>
</div>
</div>
