<div id="fb-root"></div>

    <% @outfits.each do |outfit|%>

    <div class="large-4 small-6 columns end">
      <a href = "/outfits/<%= outfit.id %>">
        <% if outfit.top.nil? %>
          <div class="row"><%= image_tag "default.jpg", size:"150x150" %></div>
        <% else %>
          <div class="row"><%= image_tag outfit.top.clothing_img, size:"200x200" %></div>
        <%end%>

        <% if outfit.bottom.nil? %>
          <div class="row"><%= image_tag "default.jpg", :title => "item was deleted" %></div>
        <% else %>
        <div class="row"><%= image_tag outfit.bottom.clothing_img, size:"200x200" %></div>
        <%end%>

      <div class="panel">
        <h5><%= outfit.created_at.strftime('%A: %b, %e') %></h5>

        <h6 class="subheader">
          <ul>
            <li><%= link_to "Edit", edit_outfit_path(outfit) %></li>
            <li><%= link_to 'Delete', outfit, method: :delete, data: { confirm: 'Are you sure?' } %></li>

          </ul>
          <%= form_for (outfit) do |f| %>
          <%= f.submit "Make public", :class => "button small"%>
          <% end %>
        </h6>
      </div>
    </div>
    <% end %>
  </div>

  <%= paginate @outfits %>
