<div class="large-8 columns">
  <div class="row">
    <% @outfits.each do |outfit|%>

    <div class="large-4 small-6 columns">
      <a href = "/outfits/<%= outfit.id %>">
        <% if outfit.top.nil? %>
          <div class="row"><%= image_tag "default.jpeg" %></div>
        <% else %>
          <div class="row"><img src= "<%= outfit.top.pic %>" width="200" height="200" /></div>
        <%end%>

        <% if outfit.bottom.nil? %>
          <div class="row"><%= image_tag "default.jpeg" %></div>
        <% else %>
          <div class="row"><img src= "<%= outfit.bottom.pic %>"width="200" height="200" /></div></a>
        <%end%>

      <div class="panel">

        <h6 class="subheader">
          <ul>
            <li><%= link_to "Edit", edit_outfit_path(outfit) %></li>
            <li><%= link_to 'Delete', outfit, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </h6>
      </div>
    </div>
    <% end %>
  </div>

  <%= paginate @outfits %>
