    <% @outfits.each do |outfit|%>

    <div class="large-4 small-6 columns end">
      <a href = "/outfits/<%= outfit.id %>">
        <% if outfit.top.nil? %>
          <div class="row"><%= image_tag "default.jpeg" %></div>
        <% else %>
          <div class="row"><%= image_tag outfit.top.image.thumb %></div>
        <%end%>

        <% if outfit.bottom.nil? %>
          <div class="row"><%= image_tag "default.jpeg" %></div>
        <% else %>
        <div class="row"><%= image_tag outfit.bottom.image.thumb %></div>
        <%end%>

      <div class="panel">
        <h4><%= outfit.created_at.strftime('%A %B, %e') %></h4>

        <h6 class="subheader">
          <ul>
            <li><%= link_to "Edit", edit_outfit_path(outfit) %></li>
            <li><%= link_to 'Delete', outfit, method: :delete, data: { confirm: 'Are you sure?' } %></li>

          </ul>
        </h6>
      </div>
    </div>
    <% end %>
  </div>

  <%= paginate @outfits %>
