<div class ="large-8 column">
  <div class="large-6 small-2 column" >
    <% if !params[:preview_button] %>
    <p><a href = "/outfits/new">Go Back</a></p>
      <% if @outfit.top %>
        <div class ="row">
          <img src= "<%= @outfit.top.image %>" width="200" height="200" />
        </div>
      <% else %>
        <p>No clean tops available.</p>
      <% end %>

      <% if @outfit.bottom %>
        <div class ="row">
          <img src= "<%= @outfit.bottom.image %>"width="200" height="200" />
        </div>
      <% else %>
        <p>No clean bottoms available.</p>
      <% end %>

    <%else%>
      <div class =-"row">
        <img src= "<%= @outfit.top.image %>" width="200" height="200" />
      </div>
      <div class ="row"><img src= "<%= @outfit.bottom.image %>"width="200" height="200" />
      </div>
    <div class="row"><a href = "/outfits/new" class = "button small">Generate new!</a>
<% end %>
    </div>
  </div>
  <div class ="large-6 small-2 column">
      <% @outfit.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
        <%= form_for @outfit do |f| %>
          <%= f.label :top_id, 'Top' %>
          <%= f.collection_select(:top_id, Clothing.where(:clothing_type => "Top").all, :id, :name) %>

          <%= f.label :bottom_id, 'Bottom' %>
          <%= f.collection_select(:bottom_id, Clothing.where(:clothing_type => "Bottom").all, :id, :name) %>
          <%= f.submit 'Create Outfit', :class => "button small" %>
          <%= f.submit 'Preview', :name => 'preview_button', :class => "button small" %>
        <% end %>
</div>
