<div class ="large-2 column">
  <div class="row"><img src= "<%= @outfit.top.pic %>" width="200" height="200" /></div>
  <div class="row"><img src= "<%= @outfit.bottom.pic %>"width="200" height="200" /></div>
  <div class="row">
    <%= form_for(@outfit) do |f| %>
  <p><%=f.hidden_field :top_id, value: @outfit.top_id %></p>
  <p><%=f.hidden_field :bottom_id, value: @outfit.bottom_id %></p>

</div>
  <div class="row"><%= f.submit "That will work!", :class => "button small" %></div>
  <% end %>

<div class="row"><a href = "/outfits/new" class = "button small">Generate new!</a>
</div>

</div>
