<% if !params[:preview_button] %>
  <div class ="row">
    <div class ="large-6 column">
      <% if @outfit.top %>
          <%= image_tag @outfit.top.image, size:"200x200" %>
      <% else %>
        <p>No clean tops available.</p>
      <% end %>
    </div>

    <div class ="large-6 column">
      <% @outfit.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
      <%= form_for @outfit do |f| %>
        <%= f.label :top_id, 'Top' %>
        <%= f.collection_select(:top_id, Clothing.where(:clothing_type => "Top").all, :id, :name) %>

        <%= f.label :bottom_id, 'Bottom' %>
        <%= f.collection_select(:bottom_id, Clothing.where(:clothing_type => "Bottom").all, :id, :name) %>

        <div class="hidden_option">
          <%= f.label :shoe_pair_id, 'Shoes' %>
          <%= f.collection_select(:shoe_pair_id, Clothing.where(:clothing_type => "Shoes").all, :id, :name) %>
        </div>
        <br/>

        <%= f.submit 'Create Outfit', :class => "button small" %>
        <%= f.submit 'Preview', :name => 'preview_button', :class => "button small" %>
      <% end %>
    </div>
    <div class="large-6 column container">
      <input type="checkbox" name="displayShoes" id="displayShoes"> Display Shoes<br>
    </div>

  </div>
  <div class="row">
    <div class="large-6 columns">
      <% if @outfit.bottom %>
        <%= image_tag @outfit.bottom.image, size:"200x200" %>

      <% else %>
        <p>No clean bottoms available.</p>
      <% end %>
    </div>

    <div class="large-6 columns" >
      <% if @outfit.shoe_pair %>
        <%= image_tag @outfit.shoe_pair.image, size:"200x200", :class => "hidden_option" %>
      <% else %>
        <p>No shoes available.</p>
      <% end %>
    </div>
  </div>

<%else%>
  <div class ="row">
    <div class="large-6 columns">
      <%= image_tag @outfit.top.image, size:"200x200" %>
    </div>
    <div class ="large-6 column">
      <% @outfit.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
      <%= form_for @outfit do |f| %>
        <%= f.label :top_id, 'Top' %>
        <%= f.collection_select(:top_id, Clothing.where(:clothing_type => "Top").all, :id, :name) %>

        <%= f.label :bottom_id, 'Bottom' %>
        <%= f.collection_select(:bottom_id, Clothing.where(:clothing_type => "Bottom").all, :id, :name) %>
        <div>
          <%= f.label :shoe_pair_id, 'Shoes' %>
          <%= f.hidden_field :shoe_pair_id, :value => @outfit.shoe_pair.id %>
        </div>
      <br>
        <%= f.submit 'Create Outfit', :class => "button small" %>
        <%= f.submit 'Preview', :name => 'preview_button', :class => "button small" %>
      <% end %>
    </div>
    <div class="large-6 column container">
      <input type="checkbox" name="displayShoes" id="displayShoes"> Display Shoes<br>
    </div>
  </div>
    <div class ="row">
      <div class="large-6 columns">
        <%= image_tag @outfit.bottom.image, size:"200x200"%>
      </div>

      <div class="large-6 columns">
        <%= image_tag @outfit.shoe_pair.image, size:"200x200", :class => "hidden_option"%>
      </div>
    </div>
<% end %>
<div class="row"><a href = "/outfits/new" class = "button small">Generate new!</a></div>
