<div class ="large-4 column">
  <% if @outfit.top.nil? %>
    <div class="row"><%= image_tag "default.jpg", size:"150x150" %></div>
  <% else %>
    <div class="row"><%= image_tag @outfit.top.image.thumb %></div>
  <%end%>

  <% if @outfit.bottom.nil? %>
    <div class="row"><%= image_tag "default.jpg", :title => "item was deleted" %></div>
  <% else %>
    <div class="row"><%= image_tag @outfit.bottom.image.thumb %></div>
  <%end%>

  <div class="panel">
    <h5><%= @outfit.created_at.strftime('%A: %b, %e') %></h5>
  </div>
 <%if current_user == @outfit.user %>
  <%= link_to "Edit", edit_outfit_path(@outfit), :class => "button small" %>
  <%= link_to 'Delete', @outfit, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button small" %>
<%end%>
<%= render_shareable  :buttons=> ['pinterest', "facebook"], :facebook=> {:send=> 'true' }%>
</div>
