<%= form_for(@top) do |f| %>



<div class="large-8 columns">
  <p>
    <%= f.label :top_type %><br />
    <%= f.select :top_type, options_for_select(%w[Sweater T-shirt Cami Blouse Cardigan Top]) %>
  <p>

  <p>
      <%= f.label :color %><br />
      <%= f.select :color, options_for_select(%w[White Black Red Brown Blue Yellow Pink Orange Gray Multi]) %>

  </p>

  <p>
    <%=f.hidden_field :user_id, value: current_user.id %>
  </p>

  <p>
      <%= f.label :pic %><br />
      <%= f.file_field :pic %>

  </p>
  <p><%= f.submit %></p>
  <% end %>
</div>
