
    <% @tops.each do |top|%>

    <div class="large-4 small-6 columns">
      <a href = "/tops/<%= top.id %>"><img src="<%= top.pic %>" width="200" height="200"/></a>

      <div class="panel">
        <h5><%= top.name %></h5>
        <h6 class="subheader">
          <ul>
            <li><%= link_to "Edit", edit_top_path(top) %></li>
            <li><%= link_to 'Delete', top, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </h6>
      </div>

  </div>
  <% end %>
    <%= paginate @tops %>











  </div>
