<!DOCTYPE html>
<html>
<head>
  <title>MyWardrobe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="row">
    <div class="large-12 columns">



      <div class="row">
        <div class="large-12 columns">

          <nav class="top-bar" data-topbar>

            <section class="top-bar-section">
              <ul class="right">

                <%- if current_user -%>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <li class="divider"></li>
                <li><%= link_to 'Edit Profile', edit_user_registration_path(@user)%></li>
                <%- else -%>
                <li><%= link_to 'Sign Up', new_user_registration_path%></li>
                <li class="divider"></li>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
                <%- end -%>
              </ul>
                </section>

            <section class="top-bar-section">

              <ul class="left">
              <li><% form_tag searches_path, :method => :get do %>
    <p id="search_header">
        <%= text_field_tag 'q', params[:q], {:size => 40} %>
        <%= submit_tag 'Search for Shops', :name => nil %>
        </p>
    <% end %></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">My Closet</a>
                  <ul class="dropdown">
                    <li><a href="/bottoms">All Bottoms</a></li>
                    <li><a href="/tops">All Tops</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">My Outfits</a>
                <ul class="dropdown">
                  <li><a href="/outfits">Outfits</a></li>
                  <li><a href="/outfits/new">New Outfit</a></li>
                </ul></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                  <a href="#">New Item</a>
                  <ul class="dropdown">
                    <li><a href="/bottoms/new">New Bottom</a></li>
                    <li><a href="/tops/new">New Top</a></li>
                  </ul>
                </li>
              </ul>
            </section>
          </nav>

        </div>
      </div>



      <div class="row">



        <div class="large-4 small-12 columns">

          <img src="<%= asset_path 'closet-clean-out-3.jpg' %>">

          <div class="hide-for-small panel">
            <h3>My wardrobe</h3>
            <h5 class="subheader">That's how your closet looks now. we organize it by color, type, etc.
            </h5>
          </div>

          <div class="search">
              <p>
                <%= form_tag searches_path, :method => :get do %>
                    <%= text_field_tag 'keywords', params[:keywords] %>
                    <%= submit_tag "Search", class: "small button" %>
                  <%end%>
              </p>
          </div>



        </div>




<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

        <%= yield %>











      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">

            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>

            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>

          </div>
        </div>
      </footer>



    </div>
  </div>


</body>
</html>
